.dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    .heading {
      display: flex;
      gap: 40px;
      h1 {
        font-family: Inter;
        font-size: 32px;
        font-weight: 500;
        line-height: 38.73px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-shadow: -2px 3px 4px #404040;
      }
      button {
        left: 166px;
        padding: 10px 18px;
        gap: 8px;
        border-radius: 8px;
        border: 1px;
        background-color: #2d446e;
        color: #e6e6e6;
        box-shadow: 0px 4px 4px 0px #00000040;
      }
    }
    .project-overview {
      font-family: Inter;
      font-size: 10.59px;
      font-weight: 400;
      line-height: 12.82px;
      letter-spacing: 0.0025em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #8a8a8a;
      span:last-child {
        color: #1677ff;
      }
    }
  }
  .view {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .select-view {
      .select-view-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        h2 {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Inter;
          font-size: 20px;
          font-weight: 600;
          line-height: 24.2px;
          letter-spacing: 0.0015em;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #2d446e;
          text-shadow: -1px 3px 3px #404040;
        }
        .view-btn {
          span {
            margin-right: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
