.progress-section {
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    gap: 2px;
    span {
      font-size: 11px;
      color: #404040;
      font-weight: 400;
    }
    .progress-completed{
      position: absolute;
      left: 45%;
      font-weight: 700;
      font-size: 12px;
      color: #2D446E;
    }

    .progress-bar {
      height: 14px;
      width: -webkit-fill-available;
      background: #F3F4F6;
      border-radius: 7px;
      overflow: hidden;
      
      .progress-fill {
        height: 100%;
        background: #22C55E;
        border-radius: 4px;
        transition: width 0.3s ease;
      }
    }
  }